<html lang="en">

<head>
    <!-- Load Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Load script file.  'defer' loads after body is generated -->
    <script src="vue_lists.js" defer></script>
</head>

<body>
    <h1>List</h1>
    <!-- Div where Vue runs -->
    <div id="app">
        <div>
            <h2>UL List</h2>
            <ul id="country_list">
                <li v-for="country in countries_list">
                    {{ country.name }} ({{country.code}})
                </li>
            </ul>
        </div>

        <div>
            <h2>Table</h2>
            <table>
                <tr>
                    <th>Country</th>
                    <th>Short Code</th>
                </tr>
                <tr v-for="country in countries_list">
                    <td>{{ country.name }}</td>
                    <td>{{ country.code }}</td>
                </tr>
            </table>

        </div>
        <div>
            <h2>Select</h2>
            <select name="country_code">
                <option v-for="country in countries_list" v-bind:value="country.code">
                    {{ country.name }}
                </option>
            </select>
        </div>
    </div>
</body>

</html>